.addCust{
    max-width: 850px;
    width:  100vw;;
    display:flex;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 1px 3px 10px #e9ecef; 
    background-color: white;
    margin: auto;
    position: relative;
    top: 50px; 
}

#cust1{  
    width: 160px;
    margin: 0.2em auto;
    margin-top: 60px;
    gap : 2em;
    margin-left: 5px;
}

.addCust .col-2{
    margin: auto;
    padding: 1em 0.2em;
}

.addCust .col-1{
    gap: 1.2em; 
}
#cust{
    max-width: 300px;
    width: 100vw;
    margin: 0.2em auto;
    margin-top: 30px;
}

#cust >  input{
    border: 1px solid black;
    padding: .6em 1em;
    margin-left: 40px;   
} 

#cust > input:focus{
    outline: none;
}

.customerbutn{
    background-color: #11074c;
    color: #e9ecef;
    font-size: 1em;
    cursor: pointer;
    text-align: center;
    border: 1px solid black;
    padding: 0.55em 6.3em;
    margin-left: 40px;
}

.lex{
    display: flex;
    gap: 1.2em; /*to increse gap between boxes*/
}

.lex-col{
    flex-direction: column;
}

.addCust .col-3 img{    
    object-fit: cover;
    align-self: flex-end;
    margin-top: 30px;
    margin-right: 30px;  
    margin-left: 30px;
}
  
@media screen and (min-width: 360px)  {
    .addEmp .col-3 img{
      display: initial;
    }
}

.addCust .col-3 h2{    
    margin-left: 50px;  
   margin-top: 56px;
   
}

.cancel{
    background-color: #11074c;
    color: #e9ecef;
    font-size: 1em;   
    text-align: center;
    border: 1px solid black;
    padding: 0.5em 6em;
    margin-left: 50px;
    margin-top: 40px;

}

.cancel :hover{
    background-color: aquamarine;
}